.button {
    -fx-background-color: #FFAA00;
    -fx-text-fill: white;
    -fx-padding: 1px 1px; /* Ajoute un espacement de 8 pixels en haut/bas et 16 pixels à gauche/droite */
    -fx-font-size: 14px;
    -fx-min-width: 120px;
}

.button:hover {
    -fx-background-color: #FFD966;
}


.one-piece-button {
    -fx-background-color: #ffaa00;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-size: 1.8em;
    -fx-padding: 20px 50px;
    -fx-cursor: hand;
    -fx-pref-width: 300px; /* Largeur fixe du bouton */
    -fx-pref-height: 90px; /* Hauteur fixe du bouton */
    -fx-alignment: center; /* Centre le texte dans le bouton */
}


.one-piece-button:hover {
    -fx-background-color: linear-gradient(#ffaa00, #ffcc33);
}

.one-piece-button-partie {
    -fx-background-color: #ffaa00;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-size: 1.8em;
    -fx-padding: 20px 50px;
    -fx-cursor: hand;
    -fx-pref-width: 400px; /* Largeur fixe du bouton */
    -fx-pref-height: 90px; /* Hauteur fixe du bouton */
    -fx-alignment: center; /* Centre le texte dans le bouton */
}


.one-piece-button-partie:hover {
    -fx-background-color: linear-gradient(#ffaa00, #ffcc33);
}



.title-pixelart {
    -fx-background-image: url("/img/Titre.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-font-size: 150px; /* Taille de la police en pixels */
}

.dialog-pane {
    -fx-background-color: grey;
    -fx-alignment: center;

}

.label {
    -fx-font-weight: bold;
}

.text-field {
    -fx-background-color: white;
}

.password-field {
    -fx-background-color: white;
}




